/*========== VARIABLES SCSS ==========*/


/*========== FONT FAMILY ==========*/
$body-font: 'Poppins', sans-serif;

/*========== FONT WEIGHT ==========*/
$medium: 500 ;
$semi-bold: 600 ;

/*========== Z-INDEX ==========*/
$tooltip: 10;
$fixed: 100;