/*========== VARIABLES SCSS ==========*/


/*========== FONT SIZE ==========*/
$max-width: 968px;

$biggest: 5rem;
$bigger: 3.5rem;
$header-height: 3rem;
$xxl: 2rem;
$xl: 1.50rem;
$l: 1.25rem;
$m: 1rem; // 16px
$s: .75rem;
$xs: .5rem;
$xxs: .25rem;